{% load static i18n %}
{% now 'Y' as current_year %}

<div class="row"></div>
<br><br>
<div class="site-footer">

  <div class="ui center aligned container">
  <!-- {% comment %}
    <img src="{% static 'images/apple-touch-icon.png' %}" style="background-color:white;" class="ui centered mini image">
   {% endcomment %}-->
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">{% trans 'Site Map' %}</a>
      <a class="item" href="#">{% trans 'Contact Us' %}</a>
      <a class="item" href="#">{% trans 'Terms and Conditions' %}</a>
      <a class="item" href="#">{% trans 'Privacy Policy' %}</a>
    </div>
  </div>

  <div class="ui center aligned container">
    <div class="ui inverted tiny link list">
        {% blocktrans %}
      <a class="item copyright"><small>
        Copyright&copy; {{ current_year }}
        </small></a>
        {% endblocktrans %}
    </div>
  </div>

</div> <!-- end of footer -->
