{% raw %}{% extends "base.html" %}
{% load i18n %}

{% block title %}Page not found{% endblock title %}

{% block content %}
<h1>{% trans 'Page Not Found' %}</h1>

<p>{% trans 'This is not the page you were looking for.' %}</p>
{% endblock content %}{% endraw %}
